.header{
    &-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo{
        img{
            width: 200px;
        }
    }

    &-nav{
        .nav{
            &-list{
                display: flex;
                list-style: none;
            }

            &-item{
                margin: 0px 20px;
            }

            &-link{
                font-weight: bold;
                font-size: 20px;
            }
        }

    }
}