.products{
    &-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        margin: 20px;
    }
}

.product{
    &-card{
        border: 2px solid $darkColor;
        padding: 0.5rem;
        color: $darkColor;
    }
}

.card{
    &-image{
        
    }

    &-title{
        font-weight: bold;
        font-size: 20px;
    }

    &-body{

    }

    &-footer{
        display: flex;
        justify-content: space-between;
    }
}